html {
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #ffffff;
	margin:0 auto;
	padding: 0;
	width: 100%;
	border: 2px solid #d8d8d8;
}

a{
	text-decoration: none;
}



/* HEADER STYLES */

.top-header{
	height: auto;
	min-height: 23px;
	background-color: #f2f2f2;
	color:#7d7d7d;
	font-size: 12px;
}

.top-header a{
color:#7d7d7d;
	}

.top-header a:hover{
color:#686868;
	}

.grey-stripe{
	width: 100%;
	background-color: #f2f2f2;
	z-index: -3;
}

#header-contacts{
	float:left;
}

#social-links{
	float:right;
}

#header-contacts i{
	padding: 5px 8px 5px 8px;
}

#social-links i{
	padding: 5px 8px 5px 8px;
}

.logo-row{
	background-color: #ffffff;
	display: block;
	width:100%;
	height: 100px;
	margin: 0 auto;
}

.logo-row img{
	display: block;
	margin: 0 auto;
}

.logo-row-icons {
	display: inline-block;
	background-color: #00aeef;
	width:20px;
	height:20px;
	border: 2px solid #00aeef;
	border-radius: 15%;
	text-align: center;
	color: #ffffff;
	float:left;
	margin-right:5px;
}

.logo-row h2, span{
	font-size:10px;

}

.lower-header-elements{
	position: static;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.inline-block{
	display: inline-block;
	width:150px;
	padding:5px;
	vertical-align: middle;
	line-height: 0;
}


.searchbox{
	width: 150px;
	padding: 5px;
	border: 2px solid #f9f9f9;
	border-radius: 20px;
	height: 20px;
	font-family: "Roboto Regular";
	vertical-align: bottom;
}

.lower-header-elements form{
	display: inline;
}

#search{
	background: rgba(255, 255, 255, 1);
	border:none;
	border-radius:100%;
	position: relative;
	left:-35px;
	top:-5px;
}

#search span{
	font-size: 18px;
	color:#00aeef;
}

#g-search-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  left: -22px;
  top: 3px;

  background-color: black;  /* Replace with your own image */
}

.searchbox:hover{
	border:2px solid #d2d2d2;
}

.menu-row{
	position:relative;
	padding: 0;
	margin: 0 auto;
	height: auto;
	background-color: #00aeef;
	z-index: 10;
}

ul#menu{
	display: block;
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #00aeef;

}

#menu li a{
	display:block;
	color: #ffffff;
	text-align: center;
	padding:15px 16px;
	margin: 0;
	font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 12px;
}

#menu li:hover{
	background-color: #008abd;
}

#menu-links{
	display: inline-block;
}

.triangle {
	display: inline-block;
	height: 0;
	width: 100%;
	border-left: 25px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 44px solid #004a80;
	float:right;
}

.triangle span{
	display:block;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding:15px;
	font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 12px;
}

.triangle:hover{
	border-bottom-color: #005b9e;
}

/* END OF HEADER STYLES */

/* BODY DIV STYLES */
.background-image{
	height: 700px;
	position: relative;
	background-repeat: no-repeat;
	background-image: url("img/background.jpg");
	background-position: center bottom;
}

body > .background-image{
	z-index:-1;
}

.background-image h1{
	color:#ffffff;
	position: absolute;
	top:35%;
	left:10%;
	margin: 0, auto;
	width: 75%;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

.background-image a{
	font-family: "Roboto Black", sans-serif;
	color:#ffffff;
	padding:5px 10px 5px 10px;
	border:2px solid;

}

.background-image div{
	font-size: 12px;
	font-weight: lighter;
	position: relative;
	top:85%;
	left:30%;
}

a#our-service-button{
	border-color: #00bff3;
	background-color: #00bff3;
}



.round-image{
	height: 200px;
	width: 200px;
	border:10px solid rgba(255,255,255,.8);
	border-radius: 100%;
	padding: 0;
	margin: 0 auto;
}

#round-image1{
	background-image: url("img/1.jpg");
	background-position: bottom center;
}

#round-image2{
	background-image: url("img/2.jpg");
	background-position: 50% center;
}

#round-image3{
	background-image: url("img/3.jpg");
	background-position: 35% 45%;
}

.round-image-description{
	text-align: center;
	max-width: 220px;
	margin:0 auto;
}

.round-image-description h2{
	color: #00aeef;
	font-size: 13px;
}

.round-image-description p{
	color: #959595;
	font-size: 10px;
}

.round-image-description a{
	color: #00aeef;
	font-family: "Roboto";
	font-weight: bold;
	font-size: 10px;

}

/* END OF BODY DIV STYLES */

/* FOOTER STYLES */

#bottom-links-container{
	background-color: #252525;
	display:block;
	width: 80%;
	margin:0;
	text-align: center;
	font-family: "Roboto Medium", sans-serif;
}


#about-us h2, #quick-links h2, #information h2, #contact-us h2{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #cccccc;
}

#about-us p{
	font-size:12px;
	color: #959595;
}

.vertical-menu a{
	display:block;
	color:#959595;
	font-size: 12px;
	padding: 5px;
	padding-left: 0;
	border-bottom: solid 1px #494949;
}

.vertical-menu a:hover{
	color:#ffffff;
	text-indent: 3px;
}

#contact-us ul{

	list-style-type: none;
	color:#959595;
	display: block;
	padding-left: 0px;
}

#contact-us li{
	font-size: 12px;
	padding-left: 25px;

}



#contact-us li:before{
	top: 0;
	left: 0;
	font-size: 24px;
}

#address:before{
	font-family: 'Ionicons';
	content:"\f447";
}

#phone-no:before{
	font-family: 'Ionicons';
	content:"\f4b8";
}

#web-address:before{
	font-family: 'Ionicons';
	content:"\f422";
}

footer{
	font-family: "Roboto Light", sans-serif;
	font-size: 12px;
	color:#555555;
	background-color: #212121;
	height:23px;
}

.lower-footer{
	display: block;
	margin: 0 auto;
}

/* responsive design section */

.row::after {
    content: "";
    clear: both;
    display: table;
}


.footer-container{
	background-color: #252525;
}

@media only screen and (min-width: 680px) {


.logo-row{
	background-color: #ffffff;
	height: 66px;
}

.logo{
	display: inline-block;
}

.logo-row-icons {
	display: inline-block;
	background-color: #00aeef;
	width:20px;
	height:20px;
	border: 2px solid #00aeef;
	border-radius: 15%;
	text-align: center;
	color: #ffffff;
	float:left;
	margin-right:5px;
}
.inline-block{
	display: inline-block;
	width:150px;
	padding:5px;
	line-height: 0;
	vertical-align: middle;

}

.searchbox{
	width: 150px;
	padding: 5px;
	border: 2px solid #f9f9f9;
	border-radius: 20px;
	height: 20px;
	font-family: "Roboto Regular";
	vertical-align: bottom;
}

.searchbox:hover{
	border:2px solid #d2d2d2;
}

.menu-row{
	padding: 0;
	margin: 0 auto;
	height: 44px;
	background-color: #00aeef;
	z-index: 10;
}

ul#menu{
	display: inline-block;
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #00aeef;
}

#menu li{
	float:left;
}

#menu li a{
	display:block;
	color: #ffffff;
	text-align: center;
	padding:15px 16px;
	margin: 0;
	font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 12px;
}

#menu li:hover{
	background-color: #008abd;
}

#menu-links{
	display: inline-block;
}

.triangle {
	display: inline-block;
	height: 0;
	width: 100px;
	border-left: 25px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 44px solid #004a80;
	float:right;
}

.triangle span{
	display:block;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding:15px;
	font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 12px;
}

.triangle:hover{
	border-bottom-color: #005b9e;
}


}

[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 1200px) {
	body{
	background-color: #ffffff;
	margin:0 auto;
	padding: 0;
	width: 80%;
}

	.col-s1 {width: 8.33%;}
	.col-s2 {width: 16.66%;}
	.col-s3 {width: 25%;}
	.col-s4 {width: 33.33%;}
	.col-s5 {width: 41.66%;}
	.col-s6 {width: 50%;}
	.col-s7 {width: 58.33%;}
	.col-s8 {width: 66.66%;}
	.col-s9 {width: 75%;}
	.col-s10 {width: 83.33%;}
	.col-s11 {width: 91.66%;}
	.col-s12 {width: 100%;}

.logo-row img{
	float:left;
}

	.round-image-container{
		display: inline-block;
		margin-left: 50px;
		margin-right:50px;
		margin-top:-110px;
		vertical-align: top;
		position:relative;
		z-index: 10;
	}


	.img-container{
		width:1000px;
		margin:0 auto;
	}

	#search{
	background: rgba(255, 255, 255, 1);
	border:none;
	border-radius:100%;
	position: relative;
	left:-35px;
	top:0px;
}

	.top-header, .menu-row, .logo-row{
		margin: 0 auto;
	}


	.menu-row{
		position:relative;
		top:21px;
		height: 44px;
		z-index: 10;
	}



.background-image h1{
	color:#ffffff;
	position: absolute;
	top:35%;
	left:30%;
	margin: 0, auto;
	width: 37%;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 60px;
	text-align: center;

}

.background-image a{
	font-family: "Roboto Black", sans-serif;
	color:#ffffff;
	padding:5px 10px 5px 10px;
	border:2px solid;

}

.background-image div{
	font-size: 12px;
	font-weight: lighter;
	position: relative;
	top:75%;
	left:40%;
}

a#our-service-button{
	border-color: #00bff3;
	background-color: #00bff3;
}


#bottom-links-container div{
	display: inline-block;
	vertical-align: top;
}

#bottom-links-container{
	margin:0 auto;
	width: 100%;
	text-align: left;
	font-family: "Roboto Medium", sans-serif;
}
}

#bottom-links-container div{
	margin:0px 20px 10px 20px;
}

#about-us{
	display: inline-block;
}

#quick-links{
	display: inline-block;
}

#information {
	display: inline-block;
}

#contact-us {
	display: inline-block;
}

.footer-divider{
	display: block;
	margin-bottom: 5px;
	visibility: visible;
}


#bottom-links-container{
	background-color: #252525;
	display:block;
	font-family: "Roboto Medium", sans-serif;
	width: 90%;
}


#about-us h2, #quick-links h2, #information h2, #contact-us h2{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #cccccc;
}

#about-us p{
	font-size:12px;
	color: #959595;
}

.vertical-menu a{
	display:block;
	color:#959595;
	font-size: 12px;
	padding: 5px;
	padding-left: 0;
	border-bottom: solid 1px #494949;
}

.vertical-menu a:hover{
	color:#ffffff;
	text-indent: 3px;
}

#contact-us ul{

	list-style-type: none;
	color:#959595;
	display: table-cell;
	padding-left: 0px;
}

#contact-us li{
	font-size: 12px;
	position: relative;
	padding-left: 25px;

}

#contact-us li:before{
	position:absolute;
	top: 0;
	left: 0;
	font-size: 24px;
}

#address:before{
	font-family: 'Ionicons';
	content:"\f447";
}

#phone-no:before{
	font-family: 'Ionicons';
	content:"\f4b8";
}

#web-address:before{
	font-family: 'Ionicons';
	content:"\f422";
}

.lower-header-elements{
	position:absolute;
	left:42%;
	top:4%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* end of responsive design section */

@media only screen and (max-width: 1200px) {
.footer-divider{
	display: none;
}

#contact-us li{
	display: inline;
}

#contact-us ul{
	width: 100%;
	display: block;
	margin:0 auto;
}

.lower-header-elements{
	position: static;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.logo-row img{
	display: block;
	margin: 0 auto;
}

.logo-row{
	height: auto;
}

}